# vscode config directory
.vscode/

# __pycache__ directory
__pycache__/

# venv
venv/

# xls
xls/

# instance
instance/

# pyc files
*.pyc

# Params.txt
Params.txt

# Excel files
*.xls

# Config files
*.config
*.cfg
