# vscode config directory
.vscode/

# __pycache__ directory
__pycache__/

# venv
venv/

# xls
xls/

# instance
instance/

# pyc files
*.pyc

# Excel files
*.xls

# temp.py
temp.py

# testing
test.py

# firebase
firebase/

# test-output
test_output/

# Log files
*.log